{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Acerca de</h1>
  <p class="lead">La presente aplicación es de <b>USO GRATUITO</b> y de <b>LIBRE DISTRIBUCIÓN</b>.</p>
  <hr class="my-4">
  <p>Esta herramienta se la codificó durante la ejecución de un trabajo de titulación desarrollado en la Carrera de Ingeniaría en Sistemas de la Universidad Nacional de Loja.</p>
  <p>La tecnología utilizada es el framework <b>Flask</b>.</p>
  <p>La plataforma sobre la cual se implementó es <b>Heroku</b>.</p>
  <p>Si desea obtener el codigo y la documentacion correspondiente, puede visitar el repositorio.</p>
  <p>El autor del presente trabajo es Bladimir Stanislao Minga Medina, bsmingam@unl.edu.ec.</p>
  <p>Para comprender el uso, revise el manual de usuario que se encuentra en el repositorio.</p>
  <p>Loja, 2020.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Ir al repositorio</a>
</div>

{% endblock%}