{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Principal</h1>
    <p class="lead">La presente aplicación es un producto que se codificó y se utilizó durante el desarrollo del trabajo de titulación denominado: <b>"Machine Learning para el análisis del rendimiento académico de estudiantes
            de Ingeniería"</b>. Que corresponde a la línea de investigación: <b>"Sistemas Inteligentes"</b>.</p>
    <center>
        <img src="https://cdn.pixabay.com/photo/2018/09/18/11/19/artificial-intelligence-3685928_1280.png"
             class="img-circle" alt="Cinque Terre" width="400">
    </center>
    <h6>Específicamente, la presente herramienta se utilizó para cumplir con el siguiente objetivo:</h6>
    <li>Simular el comportamiento del modelo generado.</li>
</div>

{% endblock%}